header{
    background-color: rgba(121, 247, 159, 0.267);
    padding: 10px;
    margin: 0px
}

header{
    nav{
        width: 50%;
        
        .nav-item{
            font-family: "Audiowide", sans-serif;
            font-size: 20px;
        }
    }

    div{
        display: flex;
        justify-content: center;
        
        a{
            text-decoration: none;
        }
    }

    h1{
        color: rgba(3, 112, 36, 0.596);
        font-family: "Sofia", sans-serif;
        list-style: none;
        font-size: 50px;

    }
}

