
main{

    form{
        

        input{
            margin-top: 40px;
            margin: 20px;
        }

        button{
            margin-bottom: 20px;
        }
    }


    section{
        background-color: rgba(144, 238, 144, 0.438);

        h4{
            font-weight: 700;
            color: rgba(3, 112, 36, 0.685);
            font-family: "Audiowide", sans-serif;
            text-shadow: 3px 3px 3px #ababab;
            
        }
        a{
            text-decoration: none;
        }
    }

    div{
                
        .form-select{
            width: auto;
            
        }

        button{
            width: auto;
        }
    }
}


@media only screen and (max-width: 550px){
    main form div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    main form div .form-control{
        width: 50%;
        
    }

    main form div button{
        width: 50%;
    }
}

@media only screen and (max-width: 501px){
    main form div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    main form div button{
        width: 50%;
    }
}